body {
    background-color: hsl(217, 54%, 11%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    padding: 0;
    margin: 0;
}

.card {
    background-color: hsl(216, 50%, 16%);
    width: 20rem;
    height: 30.8rem;
    border-radius: 0.75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 10px 50px hsl(215, 68%, 5%);
    margin-bottom: 2rem;
}

.top-side {
    width: 18rem;
    height: 16.5rem;
    border-radius: 0.4rem;
}

.equil-hover {
    position: absolute;
    width: 18rem;
    height: 15.5rem;
    margin-top: 1rem;
    border-radius: 0.47rem;
    opacity: 0;
    cursor: pointer;
    z-index: 10;
}

.equil-hover img {
    position: absolute;
    top: 42%;
    left: 42%;
    opacity: 1;
    z-index: 1000;
}

.equil-hover:hover {
    background: hsl(178, 100%, 50%, 50%);
    opacity: 1;
}

.equil {
    position: relative;
    height: 15.5rem;
    width: 18rem;
    margin-top: 1rem;
    border-radius: 0.4rem;
}

.bottom-side {
    width: 18rem;
    height: 16.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

h1 {
    margin-bottom: 0rem;
    color: hsl(0, 0%, 100%);
    font-family: 'Outfit', sans-serif;
    font-weight: 600;
    font-size: 1.25rem;
}

.price-time {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid hsl(215, 32%, 27%);
}

#space {
    margin-left: 0.3rem;
    margin-right: 5rem;
    color: hsl(178, 100%, 50%);
    font-family: 'Outfit', sans-serif;
    font-weight: 600;
    font-size: 0.9rem;
}

#space1 {
    margin-right: 0.3rem;
    margin-left: 1rem;
}

.mainp {
    color: hsl(215, 51%, 70%);
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
    font-size: 0.95rem;
}

#soft {
    color: hsl(215, 51%, 70%);
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
    font-size: 0.95rem;
}

.lst {
    display: flex;
    height: 4rem;
    width: 18rem;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 0.2rem;
}

.avatar {
    border: 2px solid white;
    border-radius: 40px;
    width: 30px;
    height: 30px;
    margin-top: 0.5rem;
    margin-right: 1rem;
}

.name {
    color: hsl(215, 51%, 70%);
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-size: 0.94rem;
}

span {
    color: white;
}

a:hover {
    mix-blend-mode: multiply;
    opacity: 10%;
}

h1:hover {
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}

span:hover {
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}

